:root{
   --background-color: #e11364;
   --background-main: #bc105c;
   --color-button:  #2c8f20;
   --color-text: #fafafb;
   --background-footer: #e96093;
}

*{
  margin:0;
  padding:0; 
  box-sizing: border-box; 
}
a{
    text-decoration: none;
}

body{
    background-color: var(--background-color);
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: var(--background-main);
    color: var(--color-text);
    width: 80%; 
    margin: 20px auto;
    height: 80px;
    border-left: 5px solid var(--color-text);
    border-right: 5px solid var(--color-text);
    max-width: 1200px;
}

h1{
    height: 80px;
    text-align: center;
    line-height: 80px;
    font-size: 40px;
}

main{
    background-color: var(--background-main);
    color: var(--color-text);
    width: 80%;
    margin: 20px auto;
    padding: 10px;
    max-width: 1200px;
    border-radius: 10px;
}

h2{
    font-size: 20px;
    font-weight: 900;
    padding: 20px 0;
}

section{
    padding: 10px;
    color: black;
    margin-bottom: 30px;
    border-radius: 10px;
}

h3{
    color: var(--background-main);
    border-bottom: 1px dotted ;
    text-align: right;
    font-size: 17px;
    font-weight: 900;
    margin: 15px 0;
}

section img{
    width: 100%;
}

.parrafos{
    padding: 10px;
}

a {
    display: block;
    width: 120px;
    text-align: center;
    border-radius: 5px;
    font-weight: 900;
    padding: 0.5rem 1rem;
    margin: 0px auto;
    background-color: var(--color-button);
    color: var(--color-text);
}
a:hover{
    background-color: var(--background-main);
}

.sobrefondo{
    background-color: var(--background-main);
}

.juegos1{
    background-color: var(--color-text);
}

.juegos2{
    background-color: var(--color-text);
}

.footer{
   background-color: var(--background-footer);
    color: var(--color-text);
    text-align: center;
    width: 80%;
    margin: 20px auto;
    max-width: 1200px;
    border-radius: 5px;
    padding: 20px;
    font-weight: 900;
}

/* --------------- Página Mortal--------------- */
.headerMortal{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.headerMortal a{
    margin: 0;
}

.mainkombat{
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    gap: 40px;
    flex-wrap: wrap;
}

.mainkombat section{
    width: 40%;
    min-width: 200px;
    background-color: var(--color-text);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-size: min(1vw + 0.5rem);
}

.mainkombat section img{
    margin-bottom: 30px;
}

.mainkombat section p{
    margin: 10px auto;
    text-align: justify;
}

.mainkombat section > div{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    border: 3px solid;
    margin: 10px auto;
    padding: 5px;
}

.mainkombat section div p{
    width: 100%;
}
.mainkombat section div span{
    font-weight: bold;
}

/* --------------- Página Mario--------------- */
.headerJuegos{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.headerJuegos div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1200px;
    padding: 0px 10px;
    flex-wrap: wrap;
}

.headerJuegos a{
    margin: 0;
}

.mainJuegos{
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    gap: 40px;
    flex-wrap: wrap;
}

.mainJuegos section{
    width: 40%;
    min-width: 200px;
    background-color: var(--color-text);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-size: min(1vw + 0.5rem);
}

.mainJuegos section img{
    margin-bottom: 30px;
}

.mainJuegos section p{
    margin: 10px auto;
    text-align: justify;
}

.mainJuegos section > div{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    border: 3px solid;
    margin: 10px auto;
    padding: 5px;
}

.mainJuegos .galery > div{
    border: none; 
    height: 250px; 
}

.mainJuegos section div p{
    width: 100%;
}

.mainJuegos .galery > div img{
    height: 100%;
}

.mainJuegos section div span{
    font-weight: bold;
}

.headerJuegos div> a:hover{
    border: 3px solid var(--color-button);
}